
@{
    ViewBag.Title = "Confirmation";
}
<div class="mainbar">
    <h2>confirmation</h2>
    <p><strong>vos informations ont bien été enregistrer <br /> veuillez consulter votre compte en utilisant votre email et mot de passe </strong></p>
