@{
                /**/

                ViewBag.Title = "Home Page";
}

<div class="mainbar">
    <div class="article">
        <h2><span>Mot du</span> Directeur</h2>
        <p class="infopost">Publier en <span class="date">11 sep 2018</span> by Admin</p>
        <div class="clr"></div>
        <div class="img"><img src="~/Content/images/direct.jpg" width="177" height="213" alt="" class="fl" /> <br /><img src="~/Content/images/ensas.jpg" width="177" height="213" alt="" class="fl" /></div>
        <div class="post_content">

            <p><strong>
               L’Ecole Nationale des Sciences Appliquées de Safi est une jeune et dynamique école d’ingénieurs de l’université Cadi Ayyad nichée sur une grande falaise et surplombant de haut l’océan atlantique. Fondée en 2003, elle offre à ses élèves-ingénieurs une palette de formations solides et variées en Génie Industriel, Génie des procédés et matériaux céramiques, Génie informatique et Génie télécommunication et réseaux, tout en accordant beaucoup d’importance aussi bien aux sciences humaines, économiques et sociales qu’à l’esprit d’entreprise. Et partant, les lauréats de l’ENSAS sont dotés de bonnes capacités d’intégration et d’analyse, de solides connaissances scientifiques et techniques ainsi que des qualités utiles au pilotage, à l’entreprenariat, à la communication, à la participation (au partage) et à la direction. Pour réussir dans sa mission, l’ENSA de Safi s’appuie sur un corps professoral de qualité et varié, sur des laboratoires bien équipés et modernes et sur des partenariats fructueux et profitables avec le monde de l’industrie. En plus grâce à son esprit de formation, à son respect des choix de ces étudiants et à son ouverture sur son entourage, l’ENSAS fournit à chacun de ces lauréats les outils utiles à son insertion dans le monde de travail voire même son épanouissement personnel et l’invention de son rôle de demain.

            </strong></p>
            <p>
                <strong>Samir FATAJOU</strong><br>
                <strong>Directeur de l'ENSA-SAFI</strong>
            </p>


            <p class="spec"><a href="#" class="rm">Read more &raquo;</a></p>
        </div>
        <div class="clr"></div>
    </div>
    <div class="article">
        <h2><span>Formation :</span> Ecole Nationale des Sciences Appliquées </h2>
        <div class="clr"></div>
        <div class="img"><img src="~/Content/images/for.png" width="177" height="213" alt="" class="fl" /></div>
        <div class="post_content">
            <strong> L’ENSA Safi propose une formation homogène de l’admission à l’obtention du diplôme. Le cursus de formation s’étale sur cinq années : </strong>

            <p><strong> Cycle Préparatoire (2 ans):</strong></p>
            <strong>Le but de ce cycle est de permettre à l’étudiant d’acquérir un enseignement scientifique de base (mathématiques, physique, chimie, informatique) et une formation humaine (langues et T.E.C).</strong> <br />
            <p><strong> Cycle Ingénieur (3 ans): </strong><br /></p>
            <p>
                <strong>
                    Ce cycle se compose de trois années de spécialisation dans les domaines suivants:
                    Génie Informatique.
                    Génie Industriel.
                    Génie des procédés et matériaux céramiques.
                    Génie Réseaux et Télécommunications.
                </strong>
            </p>
        </div>
        <div class="clr"></div>
    </div>
</div>
